.grid {
    display: grid;
    gap: var(--spacing-4);
    grid-template-columns: 5vw 1fr 5vw;
    height: 100%;
    padding: var(--spacing-6);
}

.sideItem {
    display: flex;
    justify-content: center;
    gap: var(--spacing-4);
}

.sideItem button {
    height: fit-content;
    color: var(--color-primary);
    background: none;
    border: none;
}
